h5 {
  color: #495057;
  font-weight: 600;
  margin-bottom: 1rem;
}

hr {
  margin-top: 0;
  margin-bottom: 1rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.form-text {
  font-size: 0.875rem;
}

.invalid-feedback {
  display: block;
}
