<form [formGroup]="boothForm" (ngSubmit)="onSave()">
  <div class="p-fluid">
    <div class="p-field">
      <label for="number">{{ '::Common:Number' | abpLocalization }} *</label>
      <input
        id="number"
        type="text"
        pInputText
        formControlName="number"
        [placeholder]="'::Booth:NumberPlaceholder' | abpLocalization"
        [class.ng-invalid]="isFieldInvalid('number')"
        maxlength="10">
      <small
        *ngIf="isFieldInvalid('number')"
        class="p-error">
        {{ '::Booth:NumberRequired' | abpLocalization }}
      </small>
    </div>

    <!-- Pricing Periods -->
    <div class="p-field">
      <app-booth-pricing-periods-input
        formControlName="pricingPeriods">
      </app-booth-pricing-periods-input>
      <small
        *ngIf="isFieldInvalid('pricingPeriods')"
        class="p-error">
        {{ '::Booth:PricingPeriodsRequired' | abpLocalization }}
      </small>
    </div>
  </div>

  <div class="p-dialog-footer p-mt-4">
    <p-button
      [label]="'::Common:Cancel' | abpLocalization"
      icon="pi pi-times"
      class="p-button-text"
      (click)="onCancel()">
    </p-button>
    <p-button
      [label]="'::Common:Save' | abpLocalization"
      icon="pi pi-check"
      class="p-button-success"
      [disabled]="boothForm.invalid || saving"
      [loading]="saving"
      type="submit">
    </p-button>
  </div>
</form>