<button
  class="notification-bell-button"
  (click)="togglePanel($event)"
  [pTooltip]="'Centrum powiadomień'"
  tooltipPosition="bottom">
  <div class="notification-icon-content">
    <i [class]="getBellIconClass()"></i>
    <p-badge
      *ngIf="unreadCount > 0"
      [value]="getBadgeValue()"
      [severity]="getBadgeSeverity()"
      class="notification-badge">
    </p-badge>
  </div>
</button>

<p-overlayPanel
  #notificationPanel
  [style]="{width: '600px', maxWidth: '95vw'}"
  [dismissable]="true"
  (onHide)="hidePanel()">
  <ng-template pTemplate="content">
    <app-notification-center></app-notification-center>
  </ng-template>
</p-overlayPanel>
