<div class="my-items">
  <div class="page-header">
    <h1>Moje Przedmioty</h1>
    <button pButton label="Dodaj przedmiot" icon="pi pi-plus" (click)="navigateToAddItem()"></button>
  </div>

  <p-card>
    <p-table [value]="items" [loading]="loading" responsiveLayout="scroll"
             [paginator]="true" [rows]="pageSize" [totalRecords]="totalItems"
             [lazy]="true" (onLazyLoad)="onPageChange($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>Nazwa</th>
          <th>Kategoria</th>
          <th>Stoisko</th>
          <th>Cena sprzedaży</th>
          <th>Status</th>
          <th>Data dodania</th>
          <th>Akcje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.category || '-' }}</td>
          <td>{{ item.boothNumber }}</td>
          <td>{{ formatCurrency(item.actualPrice) }}</td>
          <td>
            <p-tag [severity]="getStatusSeverity(item.status)" [value]="getStatusLabel(item.status)"></p-tag>
          </td>
          <td>{{ item.creationTime | date:'dd.MM.yyyy' }}</td>
          <td>
            <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm"
                    (click)="editItem(item)" [disabled]="!canEditItem(item)"
                    [pTooltip]="item.barcode ? 'Edycja zablokowana - przedmiot ma wygenerowany QR' : 'Edytuj'"></button>
            <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger"
                    (click)="deleteItem(item)"
                    pTooltip="Usuń"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center">Brak przedmiotów do wyświetlenia</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
